*.iml
.gradle
/local.properties
/apikey.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.json
gradle
build
.idea
build.gradle
gradle.properties
gradlew
gradlew.bat
hs_err_pid8108.log
replay_pid8108.log
settings.gradle